<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado CRUD</title>
    <link rel="stylesheet" href="/stylesheets/navFooter.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <%-include('./partials/navbar')%>
    <main>
        <section>
            <form action="/login" method="post">
                <div class="decoration">
                    <h2>Formulário de login</h2>
                    <hr>
                </div>
                <div class="info-geral">
                    <div>
                        <div class="info">
                            <div id="error">
                            <label for="email">Email:</label>
                            <input type="text" name="email" id="email">
                                <% if (locals.errors && errors.email) { %>
                                    <p class="error"><%= errors.email.message %></p>
                                <% } %>
                            </div>
                            <div id="error">
                            <label for="password">Senha:</label>
                            <input type="password" name="password" id="password">
                                <% if (locals.errors && errors.password) { %>
                                    <p class="error"><%= errors.password.message %></p>
                                <% } %>
                            </div>
                        </div>
                        <div class="info-remember">
                            <input type="checkbox" name="remember_user" id="remember_user">
                            <label for="remember_user">Lembrar de mim</label>
                        </div>
                    </div>
                </div>
                <button type="submit">Login</button>
            </form>
            <% if(locals.errors && !errors.email && !errors.password && errors.geral) { %>
                <div id="errorModal" class="modal">
                    <div class="modal-content">
                        <p><%= errors.geral.message %></p>
                        <button class="btn" id="okButton">OK</button>
                        <button class="btn" id="emptyBtn" onclick="window.location.href='/register'">Já tenho cadastro</button>
                    </div>
                </div>
            <% } %>
            
        </section>
    </main>
        <%-include('./partials/footer')%>
        <script src="/javascripts/errorModal.js"></script>
</body>

</html>